body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.first-section,
.second-section,
.third-section {
    padding: 85px 30px;
}

.header {
    padding: 5px 30px;
    background-color: #1f2937;
}

.header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-links {
    display: flex;
    gap: 15px;
}

.logo a {
    color: #f9faf8;
    font-size: 24px;
}

.nav-item a {
    color: #e5e7eb;
}

/* -------------------- */

.first-section {
    color: #f9faf8;
    background-color: #1f2937;

    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 40px;
}

.first-section-container {
    flex: 1 0 200px;
    text-align: center;

}

.first-section-container .title {
    font-size: 48px;
    font-weight: 900;
}

.first-section-container .description {
    color: #e5e7eb;
}

.button {
    background-color: #3882f6;
    border: 0;
    cursor: pointer;

    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 15px;
}

.first-section-img {
    max-width: 600px;
    flex: 0 1 auto;
}

.first-section-img img {
    width: 100%;
}

/* ------------------ */

.second-section,
.third-section-container {
    max-width: 1280px;
    margin: 0 auto;
}

.second-section-header-text {
    text-align: center;

    color: #1f2937;
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 30px;
}

.countries-list {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.countries-list li {
    flex: 1;
}

.country-description {
    color: #1f2937;
    font-weight: 300;
}

.countries-list li img {
    min-width: 200px;
    width: 100%;

    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* -------------------------- */

.third-section {
    background-color: #e5e7eb;
}

.third-section-description {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
    text-align: right;
}